/Leader/.vs/Leader/CopilotIndices
/Leader/.vs/Leader/DesignTimeBuild
/Leader/.vs/Leader/FileContentIndex
/Leader/.vs/Leader/v17
/Leader/.vs/ProjectEvaluation
/Leader/bin/Release/net9.0/win-x64/publish
/Leader/obj/Debug/net9.0
/Leader/obj/Release/net9.0/win-x64
